ul a:link.list1{
	font-size:14px;
	text-decoration:none;
}
ul a:hover.list2{
	font-size:14px;
	color:#b9f605;
	text-decoration:none;
}
ul.c{
	list-style-type:circle;
}
ul.c2{
	list-style-image:url(images/list.png);
}